<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/filesubmit" enctype="multipart/form-data"   method="post">
        <b>Upload :  </b> <br><input type="file" name="documents"><button >file_submit</button></p><br>
        
      </form>  
    
</body>
</html>